* {
  margin: 0;
  padding: 0;
}

/* navBar */
.fa-brands {
  margin-left: 10px;
}

.carousel-item img {
height: 250px;
}


.fa-earth-americas
{
transition: 3s;
-moz-transition: 3s;
-webkit-transition: 3s;
-o-transition: 3s;

}

.fa-earth-americas:hover
{
transform:rotate(360deg);
-ms-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
-o-transform:rotate(360deg);
}

/* End navBar */

/* Home */
.home {
  margin: 20px;
}

.h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* End Home */

/* Products */

.positiv {
  text-align: center;
  padding: 10px 30px 50px 30px;
}

.card__productos {
  border: 0.5px solid grey;
  margin-bottom: 20px;
}

.card-text {
  padding: 10px;
}
.card__productos img {
  width: 150px;
  height: 150px;
}

.btn {
  margin-bottom: 10px;
  background-color: #73c6b6;
  border: #73c6b6;
}

.btn:hover {
  background-color: #16a085;
}
/* End Products */

.alternativaSect_section {
  min-height: 400px;
  max-width: 1280px;
}

/* Alternativas */

.h4__alternativa{
  text-align: center;

}
/* End Alternativas */

/* Campañas */
.carousel-inner h5{
  color: #16a085;
  -webkit-text-stroke:0.5px solid #73c6b6;
  margin-bottom: 20px;
}

a{
  text-decoration: none;
}

.campañas__son{
  text-align: center;
  margin: 30px;
  padding-top: 20px;
  border-bottom: #16a085 solid 0.5PX;
}



/* MEDIA QUERYS */
@media screen and (min-width: 576px) {
  .alternativaSect img {
    width: 500px;
    height: 400px;
  }

  .carousel-item img {
    height: 400px;
  }

  .card-text{
    min-height: 230px;
    }

}