.alternativaSect_section {
  margin: 20px 0 20px;

  .col {
    text-align: map-get($estilo, centro);
  }

  img {
    @include sizes(90vw, 200px);
    object-fit: cover;
  }

  .h4__alternativa {
    margin-top: 10px;
    color: map-get($estilo, verdeOscuro);
    text-shadow: 0.05em 0.05em map-get($estilo, verdeClaro);
  }

  p {
    margin: 10px;
  }
}