@import "variables";

.contribuciones {
  .unbox img {
    border-radius: 100%;
    @include sizes(500px, 500px);
  }

  .form-floating {
    margin-top: 10px;
  }

  .contri {
    @extend .form-floating;
    margin-bottom: 30px;
  }

  .btn {
    margin-bottom: 10px;
    background-color: map-get($estilo, verdeClaro);
    border: map-get($estilo, verdeClaro);

    &:hover {
      background-color: map-get($estilo, verdeOscuro);
    }
  }
}